.banner {
    padding: 10% 5%;
    display: flex;
    align-items: center;
}

.banner__perfil {
    width: 18%;
    border-radius: 500px;
}

.banner__info {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.banner__info__nome {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 5%;
}

.banner__info__consultas {
    color: var(--cor-secundaria);
    font-size: 1rem;
}

@media screen and (min-width: 1024px) {
    .banner {
        padding: 5% 2%;
    }
    
    .banner__perfil {
        width: 10%;
    }

    .banner__info {
        padding: 2%;
    }

    .banner__info__nome {
        font-size: 1.8rem;
        font-weight: 700;
        padding-bottom: 12%;
    }   

    .banner__info__consultas {
        font-size: 1.2rem
    }
}

@media screen and (min-width: 1600px) {
    .banner {
        padding: 6% 3% 3%;
    }

    .banner__perfil {
        width: 7%;
    }

    .banner__info {
        padding: 1%;
    }

    .banner__info__nome {
        font-size: 2rem;
        font-weight: 00;
        padding-bottom: 10%;
    } 
}