.botao-flutuante {
    position: fixed;
    bottom: 7%;
    right: 3%;
    background: none;
    border: none;
}

.flutuante-img {
    width: 120%;
}

.rodape {
    display: flex;
    align-items: flex-end;
    padding: 3% 5%;
    justify-content: space-between;
    background-color: var(--cor-principal);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 -5px 24px rgba(73, 73, 73, 0.7);
    position: fixed;
    bottom: 0;
    width: 90%;
}

.rodape__opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    text-decoration: none;
}

.rodape__consultas__texto {
    color: var(--botao-endereco);
    font-size: 0.8rem;
    font-weight: 600;
}

.rodape__opcao__texto {
    font-size: 0.8rem;
    color: var(--cor-secundaria);
}

.rodape__consultas__texto-2 {
    color: var(--cor-secundaria);
    font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
    .botao-flutuante {
        bottom: 8%;
        right: 4%;
    }

    .flutuante-img {
        width: 150%;
    }

    .rodape {
        width: 50%;
        padding: 2% 25%;
        justify-content: center;
    }

    .rodape__opcao {
        width: 130%;   
    }

    .rodape__consultas__texto {
        font-size: 1rem;
    }

    .rodape__opcao__texto {
        font-size: 1rem;
    }

    .rodape__consultas-img {
        width: 24px;
    }

    .rodape__clientes-img {
        width: 28px;
    }

    .rodape__relatorios-img {
        width: 18px;
    }

    .rodape__menu-img {
        width: 28px;
    }
}

@media screen and (min-width: 1600px) {
    .rodape {
        display: none;
    }

    .botao-flutuante {
        bottom: 75%;
    }
}